
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: 30px auto;
}

header{
    display: inline-block;
}

#logo{
    height: 100px;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: rgb(56, 55, 55);
    padding: 10px;
}

.sectione{
    height: 600px;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

#banner1{
    height: 600px;
    width: 100%;
    border-radius: 20px;
}

.overlay{
    background-color: rgba(32, 29, 29, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 20px;
}

.copertura{
    position: relative;
}

.didascaliaimg1{
    position: absolute;
    left: 5%;
    bottom: 25%;
    color: rgb(95, 134, 219);
}

.didascaliaimg2{
    position: absolute;
    left: 5%;
    bottom: 20%;
    color: rgb(95, 134, 219);
}

.row{
    height: 90px;
    margin-bottom: 30px;
}

#titolo2{
    font-size: 2em;
}

#sottotitolo{
    color: gray;
}

.clearfix{
    height: 492px;
    background-color: white;
    margin-top: 30px;
}

.colonna1{
    height: 159px;
    width: 18%;
    float: left;
    border-radius: 20px;
    position: relative;
}

.dimension{
    height: 159px;
    width: 100%;
    border-radius: 20px;
}

.colonna2{
    height: 159px;
    width: calc( 60% - 43px );
    margin-left: 43px;
    margin-right: 43px;
    float: left;
    border-radius: 20px;
    position: relative; 
    
}

#bannerdue{
    height: 159px;
    width: 100%;
    border-radius: 20px;
}

.colonna3{
    height: 159px;
    width: 18%;
    float: left;
    border-radius: 20px;
    position: relative;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

#ipsum{
    text-align: center;
}

footer{
    display: inline-block;
    margin-left: 48%;
}

#cuore{
    color: red;
}