
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: 30px auto;
}

header{
    display: inline-block;
}

#logo{
    height: 100px;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: rgb(56, 55, 55);
    padding: 10px;
}

footer{
    height: 100px;
    background-color: black;
}

.sectionkhaki{
    height: 300px;
    background-color: black;
}

.clearfix{
    height: 492px;
    background-color: white;
}

.row{
    height: 90px;
    background-color: black;
    margin-bottom: 42px;
}

.colonna1{
    height: 318px;
    background-color: black;
    width: 18%;
    float: left;
}

.colonna2{
    height: 318px;
    background-color: black;
    width: calc( 60% - 43px );
    margin-left: 43px;
    margin-right: 43px;
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

main,
section,
footer{
    margin-top: 42px;
}